[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
colorlog = "*"
flasgger = "*"
flask = "*"
flask-api = "*"
flask-jwt-extended = "*"
flask_mongoengine = "*"
flask-marshmallow = "*"
flask-restful = "*"
marshmallow-mongoengine = "*"
mongoengine = "*"
python-dotenv = "*"

[dev-packages]
mongomock = "*"
pytest = "*"

[requires]
python_version = "3.8.2"
