[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "*"
flask = "*"
flasgger = "*"
flask_mongoengine = "*"
flask-restful = "*"
mongoengine = "*"
python-dotenv = "*"


[dev-packages]

[requires]
python_version = "3.8.2"
